<% content_for(:title, "Edit #{@phone.number} | Wikipages") %>


<h1>Edit <%= @contact.name.split(' ')[0] %>'s phone </h1>

<form action="/contacts/<%= @phone.contact.id %>/phones/<%= @phone.id %>" method="post">
  <input name="_method" type="hidden" value="patch">
  <%= render 'form'%>
  <button>Update phone</button>
</form>
<br/>
<a href="/contacts/<%= @contact.id %>">Back to <%= @contact.name %></a>
