<% content_for(:title, "Edit #{@phone.number} | Wikipages") %>

<h1>Edit <%= @contact.name.split(' ')[0] %>'s phone </h1>

<%= render 'errors'%>
<%= render 'form_2'%>

<a href="/contacts/<%= @contact.id %>">Back to <%= @contact.name %></a>
