<% content_for(:title, "#{@contact.name} | Wikipages") %>

<h1><%= @contact.name %></h1>
<p>Phone: <%= @contact.phone %></p>
<p>Email: <%= @contact.email %></p>
<p><%= link_to 'Edit', "/contacts/#{@contact.id}/edit" %></p>
<p><%= link_to 'Delete', "/contacts/#{@contact.id}", confirm: "Are you sure?", method: :delete %></p>
<p>Phones:</p>

<ul>
  <% @contact.phones.each do |phone| %>
    <li>
      <%= phone.number %> |
      <a href="/contacts/<%= @contact.id %>/phones/<%= phone.id %>/edit">Edit</a> |
      <a href="/contacts/<%= @contact.id %>/phones/<%= phone.id %>"
         data-confirm="You sure?"
         data-method="delete"
         rel="nofollow">Delete</a>
    </li>
  <% end %>
</ul>


<a href="/contacts/<%= @contact.id %>/phones/new">Add phone</a>
<p><%= link_to 'Contacts', '/contacts' %></p>
