<% content_for(:title, "#{@contact.name} | Wikipages") %>

<h1><%= @contact.name %></h1>
<p class="sm-indent">Phone: <%= @contact.phone %></p>
<p class="sm-indent">Email: <%= @contact.email %></p>
<p class="sm-indent"><%= link_to 'Edit', edit_contact_path(@contact),
                                      class: 'btn btn-default' %></p>
<p class="sm-indent"><%= link_to 'Delete', "/contacts/#{@contact.id}",
                                      confirm: "Are you sure?",
                                      method: :delete,
                                      class: 'btn btn-default' %></p>
<p class="sm-indent">Alt Phones:</p>

  <% count = 0%>
  <% @contact.phones.each do |phone| %>
    <row>
      <% count += 1 %>
      <%= count %>) &nbsp<%= phone.number %> |
      <%= link_to '', "/contacts/#{@contact.id}/phones/#{phone.id}/edit",
                                      class: 'glyphicon glyphicon-cog' %> |
      <%= link_to '', "/contacts/#{@contact.id}/phones/#{phone.id}",
                                      method: :delete,
                                      class: 'glyphicon glyphicon-trash' %>
    </row><br/>
  <% end %>


<p class="sm-indent"><%= link_to 'Add phone', "/contacts/#{@contact.id}/phones/new",
                                      style: "margin-top:1em;",
                                      class: 'btn btn-default' %></p>
<p class="sm-indent"><%= link_to 'Return to contacts', contacts_path %></p>
